.heart {
    margin-right: 2%;
    height: 100%;
    width: 28.125%;
    background-image: url('project://database/Assets/Icons/Pingu_Heart.png?fileID=2800000&guid=37fce6589a179764aa6dd334ef89cc9e&type=3#Pingu_Heart');
    position: relative;
}
